// Remove units from number.
@function strip($number) {
  @return $number / ($number * 0 + 1);
}

// Check if this value is false, null, 0, off, or def
@function false($value) {
  @return not not index(false null 0 off def, $value);
}

// Get the image width, and adjust the units depending on the rems or px setting.
@function imageWidth($image, $condition:null){
  @if ( $condition == true ) {
    // Return the width without the units
    @return strip(image-width($image));
  } @else if ( $condition == half ) {
    // Return half the width with units
    @return s(strip(image-width($image))/2);
  } @else if (str-index(#{$condition}, "%")) {
    // Return width in untis, after calculating the given percentage
    @return s(strip(image-width($image))/100*strip($condition));
  } @else {
    // Return the width with units
    @return s(strip(image-width($image)));
  }
}

// Get the image height, and adjust the units depending on the rems or px setting.
@function imageHeight($image, $condition:null){
  @if ( $condition == true ) {
    // Return the height without the units
    @return strip(image-height($image));
  } @else if ( $condition == half ) {
    // Return half the height
    @return s(strip(image-height($image))/2);
  } @else if (str-index(#{$condition}, "%")) {
    // Return height in untis, after calculating the given percentage
    @return s(strip(image-height($image))/100*(strip($condition)));
  } @else {
    // Return the height with units
    @return s(strip(image-height($image)));
  }
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  $slice: $string;
  @while $index {
    $slice: if($index == 1, '', str-slice($slice, 0, $index - 1)) + $replace + str-slice($slice, $index + max(str-length($replace), 1));
    $index: str-index($slice, $search);
  }
  @return $slice;
}

@function svg($svg, $data:$base64) {
  @return url($data + unquote($svg));
}

@function lines($opacity:1) {
// The only reason for all these conditions is because of IE support. Otherwise, the last statement would have been just fine
       @if ($opacity == 0)   { @return url($base64 + unquote("PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxJyBoZWlnaHQ9JzInPjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIHN0eWxlPSdmaWxsOnJnYmEoMCwgMCwgMCwgMCknLz48L3N2Zz4="));}
  @else if ($opacity == 0.1) { @return url($base64 + unquote("PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxJyBoZWlnaHQ9JzInPjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIHN0eWxlPSdmaWxsOnJnYmEoMCwgMCwgMCwgMC4xKScvPjwvc3ZnPg=="));}
  @else if ($opacity == 0.2) { @return url($base64 + unquote("PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxJyBoZWlnaHQ9JzInPjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIHN0eWxlPSdmaWxsOnJnYmEoMCwgMCwgMCwgMC4yKScvPjwvc3ZnPg=="));}
  @else if ($opacity == 0.3) { @return url($base64 + unquote("PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxJyBoZWlnaHQ9JzInPjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIHN0eWxlPSdmaWxsOnJnYmEoMCwgMCwgMCwgMC4zKScvPjwvc3ZnPg=="));}
  @else if ($opacity == 0.4) { @return url($base64 + unquote("PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxJyBoZWlnaHQ9JzInPjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIHN0eWxlPSdmaWxsOnJnYmEoMCwgMCwgMCwgMC40KScvPjwvc3ZnPg=="));}
  @else if ($opacity == 0.5) { @return url($base64 + unquote("PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxJyBoZWlnaHQ9JzInPjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIHN0eWxlPSdmaWxsOnJnYmEoMCwgMCwgMCwgMC41KScvPjwvc3ZnPg=="));}
  @else if ($opacity == 0.6) { @return url($base64 + unquote("PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxJyBoZWlnaHQ9JzInPjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIHN0eWxlPSdmaWxsOnJnYmEoMCwgMCwgMCwgMC42KScvPjwvc3ZnPg=="));}
  @else if ($opacity == 0.7) { @return url($base64 + unquote("PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxJyBoZWlnaHQ9JzInPjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIHN0eWxlPSdmaWxsOnJnYmEoMCwgMCwgMCwgMC43KScvPjwvc3ZnPg=="));}
  @else if ($opacity == 0.8) { @return url($base64 + unquote("PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxJyBoZWlnaHQ9JzInPjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIHN0eWxlPSdmaWxsOnJnYmEoMCwgMCwgMCwgMC44KScvPjwvc3ZnPg=="));}
  @else if ($opacity == 0.9) { @return url($base64 + unquote("PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxJyBoZWlnaHQ9JzInPjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIHN0eWxlPSdmaWxsOnJnYmEoMCwgMCwgMCwgMC45KScvPjwvc3ZnPg=="));}
  @else if ($opacity == 1)   { @return url($base64 + unquote("PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxJyBoZWlnaHQ9JzInPjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIHN0eWxlPSdmaWxsOnJnYmEoMCwgMCwgMCwgMSknLz48L3N2Zz4="));}
  @else { @return url($svg + unquote("<svg xmlns='http://www.w3.org/2000/svg' width='1' height='2'><rect width='1' height='1' style='fill:" + col(black, $opacity) + "'/></svg>"));}
}

@function dots($opacity:1) {
// The only reason for all these conditions is because of IE support. Otherwise, the last statement would have been just fine
     @if ($opacity == 0)   { @return url($base64 + unquote("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSc0JyBoZWlnaHQ9JzQnIHZpZXdCb3g9IjAgMCA0IDQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQgNDsiPiA8cG9seWdvbiBzdHlsZT0ib3BhY2l0eTowIiBwb2ludHM9IjAsMCAyLDAgMiwyIDQsMiA0LDQgMiw0IDIsMiAwLDIgIi8+PC9zdmc+"));}
@else if ($opacity == 0.1) { @return url($base64 + unquote("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSc0JyBoZWlnaHQ9JzQnIHZpZXdCb3g9IjAgMCA0IDQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQgNDsiPiA8cG9seWdvbiBzdHlsZT0ib3BhY2l0eTowLjEiIHBvaW50cz0iMCwwIDIsMCAyLDIgNCwyIDQsNCAyLDQgMiwyIDAsMiAiLz48L3N2Zz4="));}
@else if ($opacity == 0.2) { @return url($base64 + unquote("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSc0JyBoZWlnaHQ9JzQnIHZpZXdCb3g9IjAgMCA0IDQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQgNDsiPiA8cG9seWdvbiBzdHlsZT0ib3BhY2l0eTowLjIiIHBvaW50cz0iMCwwIDIsMCAyLDIgNCwyIDQsNCAyLDQgMiwyIDAsMiAiLz48L3N2Zz4="));}
@else if ($opacity == 0.3) { @return url($base64 + unquote("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSc0JyBoZWlnaHQ9JzQnIHZpZXdCb3g9IjAgMCA0IDQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQgNDsiPiA8cG9seWdvbiBzdHlsZT0ib3BhY2l0eTowLjMiIHBvaW50cz0iMCwwIDIsMCAyLDIgNCwyIDQsNCAyLDQgMiwyIDAsMiAiLz48L3N2Zz4="));}
@else if ($opacity == 0.4) { @return url($base64 + unquote("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSc0JyBoZWlnaHQ9JzQnIHZpZXdCb3g9IjAgMCA0IDQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQgNDsiPiA8cG9seWdvbiBzdHlsZT0ib3BhY2l0eTowLjQiIHBvaW50cz0iMCwwIDIsMCAyLDIgNCwyIDQsNCAyLDQgMiwyIDAsMiAiLz48L3N2Zz4="));}
@else if ($opacity == 0.5) { @return url($base64 + unquote("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSc0JyBoZWlnaHQ9JzQnIHZpZXdCb3g9IjAgMCA0IDQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQgNDsiPiA8cG9seWdvbiBzdHlsZT0ib3BhY2l0eTowLjUiIHBvaW50cz0iMCwwIDIsMCAyLDIgNCwyIDQsNCAyLDQgMiwyIDAsMiAiLz48L3N2Zz4="));}
@else if ($opacity == 0.6) { @return url($base64 + unquote("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSc0JyBoZWlnaHQ9JzQnIHZpZXdCb3g9IjAgMCA0IDQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQgNDsiPiA8cG9seWdvbiBzdHlsZT0ib3BhY2l0eTowLjYiIHBvaW50cz0iMCwwIDIsMCAyLDIgNCwyIDQsNCAyLDQgMiwyIDAsMiAiLz48L3N2Zz4="));}
@else if ($opacity == 0.7) { @return url($base64 + unquote("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSc0JyBoZWlnaHQ9JzQnIHZpZXdCb3g9IjAgMCA0IDQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQgNDsiPiA8cG9seWdvbiBzdHlsZT0ib3BhY2l0eTowLjciIHBvaW50cz0iMCwwIDIsMCAyLDIgNCwyIDQsNCAyLDQgMiwyIDAsMiAiLz48L3N2Zz4="));}
@else if ($opacity == 0.8) { @return url($base64 + unquote("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSc0JyBoZWlnaHQ9JzQnIHZpZXdCb3g9IjAgMCA0IDQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQgNDsiPiA8cG9seWdvbiBzdHlsZT0ib3BhY2l0eTowLjgiIHBvaW50cz0iMCwwIDIsMCAyLDIgNCwyIDQsNCAyLDQgMiwyIDAsMiAiLz48L3N2Zz4="));}
@else if ($opacity == 0.9) { @return url($base64 + unquote("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSc0JyBoZWlnaHQ9JzQnIHZpZXdCb3g9IjAgMCA0IDQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQgNDsiPiA8cG9seWdvbiBzdHlsZT0ib3BhY2l0eTowLjkiIHBvaW50cz0iMCwwIDIsMCAyLDIgNCwyIDQsNCAyLDQgMiwyIDAsMiAiLz48L3N2Zz4="));}
@else if ($opacity == 1)   { @return url($base64 + unquote("PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSc0JyBoZWlnaHQ9JzQnIHZpZXdCb3g9IjAgMCA0IDQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQgNDsiPiA8cG9seWdvbiBwb2ludHM9IjAsMCAyLDAgMiwyIDQsMiA0LDQgMiw0IDIsMiAwLDIgIi8+PC9zdmc+"));}
  @else { @return url($svg + unquote("<svg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4' style='enable-background:new 0 0 4 4;'><polygon style='fill:" + col(black, $opacity) + "' points='0,0 2,0 2,2 4,2 4,4 2,4 2,2 0,2 '/></svg>")); }
}

@function remove-end-character($string, $amount:1) {
  @return str-slice(#{$string}, 1, str-length($string)-1);
}

@function nth-characters($string, $lettercount:1) {
  $characters:"";
  @for $i from 1 through $lettercount {
    $characters: $characters + str-slice(#{$string}, $i, $i);
  }
  @return $characters;
}

@function first-character($string) {
  @return str-slice(#{$string}, 1, 1);
}

// Some mixins may require the !important value. This function allows for a quick check and outputs the value if necessary
@function imp($bool) {
  @return if($bool, !important, null);
}

// I hate having to type in "rgba" all the time, so I changed the function to "col" instead.
@function col($colour, $opacity:1) {
  @return rgba($colour, $opacity);
}

// Size function that allows you to change the suffix to 'rem' or 'px' by switching one boolean in the settings
@function s($size) {
  @return if($sizes-are-rem, $size/10+rem, $size+px);
}

// Output padding
@function pad($size:1) {
  @return if($size == 0, s($padding/2), s($padding*$size));
}

// If $colour is lighter than 50%, return the light colour, otherwise return the dark colour
@function light-or-dark($colour, $light:white, $dark:black) {
  @return if(lightness($colour) < 50%, $light, $dark);
}

// Return random colour
@function rc($opacity:0.3) {
  @return rgba(random(256) - 1, random(256) - 1, random(256) - 1, $opacity);
}

// Is it a number (without usits e.g. %)
@function number-check($var) {
  @return if(type-of($var) == number, unitless($var), false);
}

// Return first list item
@function first($list) {
  @return nth($list, 1);
}
// Return last list item
@function last($list) {
  @return nth($list, length($list));
}

// THIRD PARTY //

// http://hugogiraudel.com/2014/01/15/sass-string-to-number/
@function _length($number, $unit) {
  $strings: "px" "cm" "mm" "%" "ch" "pica" "in" "em" "rem" "pt" "pc" "ex" "vw" "vh" "vmin" "vmax";
  $units:   1px  1cm  1mm  1%  1ch  1pica  1in  1em  1rem  1pt  1pc  1ex  1vw  1vh  1vmin  1vmax;
  $index: index($strings, $unit);

  @if not $index {
    @warn "Unknown unit `#{$unit}`.";
    @return false;
  }

  @return $number * nth($units, $index);
}

@function number($string) {
  // Matrices
  $strings: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
  $numbers:  0   1   2   3   4   5   6   7   8   9;

  // Result
  $result: 0;
  $divider: 0;
  $minus: false;

  // Looping through all characters
  @for $i from 1 through str-length($string) {
    $character: str-slice($string, $i, $i);
    $index: index($strings, $character);


    @if $character == '-' {
      $minus: true;
    }

    @else if $character == '.' {
      $divider: 1;
    }

    @else {
      @if not $index {
        $result: if($minus, $result * -1, $result);
        @return _length($result, str-slice($string, $i));
      }

      $number: nth($numbers, $index);

      @if $divider == 0 {
        $result: $result * 10;
      }

      @else {
        // Move the decimal dot to the left
        $divider: $divider * 10;
        $number: $number / $divider;
      }

      $result: $result + $number;
    }
  }

  @return if($minus, $result * -1, $result);
}