// Reset
@mixin reset {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    @include reset-box-model; font-size:100%; vertical-align:baseline; //@include reset-font;
  }
  html { @include reset-body; }
  ol, ul { @include reset-list-style; }
  table { @include reset-table; }
  caption, th, td { @include reset-table-cell; }
  q, blockquote { @include reset-quotation; }
  a img { @include reset-image-anchor-border; }
  @include reset-html5;
}

// Quick way of adding a calc for width only.
@mixin width($calc, $important:null){
  $formula:null;
  $symbol:null;
  @each $calculation in $calc {
    $symbol:first-character($calculation);
    @if ( $symbol == '-' or $symbol == '+' or $symbol == '/' or $symbol == '*') {
      $formula:$formula str-insert(#{$calculation}, " ", 2);
    } @else {
      $formula:$formula $calculation;
    }
  }
  @include calc("width", $formula, imp($important));
}

// Easier Gradients
@mixin gradient($col1:black, $col2:white, $direction:null) {
  @if $direction == null { 
    background:linear-gradient($col1, $col2);
  } @else { 
    background:linear-gradient(to right, $col1, $col2);
  }
}

@function gradient($col1:black, $col2:white, $direction:null) {
  @if $direction == null { 
    @return linear-gradient($col1, $col2);
  } @else { 
    @return linear-gradient(to right, $col1, $col2);
  }
}

@mixin lines($opacity:1, $colour:null ) {
  background:$colour lines($opacity); background-attachment:fixed;
}

// Add SVG Mask
@mixin mask($url) {
  mask: url($url);
  -webkit-mask-image: url($url);
}

//.test {width:1000px; background-color:$pink; height:s(200);
 // div { @include grid(10, 10); background-color:$blue; height:s(100);}
//}
// Columns calculation
// http://forrk.co.uk/blog/Building-a-Responsive-Grid-Generator-with-SASS/5
// TODO: Make it so you can enter in the amount of columns, and a width will be calcuated in percent.
// Calculate margin offset and an additional offset (if needed), in percent.
// So for example, 3 columns will be equal size (in percent), with space calculate for a sidebar, and padding between each element.
@mixin grid($count, $gutter:0, $offset:0, $important:false) {
  float:left;
  // Set Guttering
  @if ($gutter == true) { $gutter:$padding; }
  @if ($gutter == null or $gutter == false) { $gutter:0; }
  @if ($gutter != 0 or $count == 1) {
    // TODO: Make it so the CSS output doesn't replicate the content.
    @for $i from 1 through $count { @include nth($i, true) { clear:none; margin-right:s($gutter); } }
    @include nth($count, true) { margin-right:0; }
  }
  @if ($count == 1) { @include nth($count, true) { margin-right:0; } }

  @if ($offset == null or $offset == false) { $offset:0; }

  // Checks
  $width:     if($count  >  1, 100%/$count, 100%);
  $remainder: if($gutter != 0, + s($gutter/$count), null);
  $gutter:    if($gutter != 0, - s($gutter), null);

  $offsets : null;
  @each $off in $offset {
    @if $off != 0 {
      @if type-of($off) == string {
       $equation: if(str-slice($off, 1, 1) == "+", "+", "-");
        // If the number has a + or a - as a first character, then reset the $off variable after stripping that first chracter.
        $off: if(str-index($off, "+") == 1 or str-index($off, "-") == 1, str-slice(#{$off}, 2, str-length($off)), $off);
        $offsets : $offsets #{$equation} if(unitless(number($off)), s(number($off)/$count), number($off)/$count);
      }
      @if type-of($off) == number {
        $offsets : $offsets #{"-"} if(unitless($off), s($off/$count), $off/$count);
      }
    }
  }

  @if ( $gutter != null or $offset != null ) {
    @include width(($width, $gutter, $remainder, $offsets), imp($important));
  } @else {
    width:$width imp($important);
  }
}

@mixin grid2($count, $breaks:null, $gutter:$padding, $offset:0, $important:false) {

  @if false($gutter) { $gutter:0; }
  @if false($count) {
    // Disable Grid
    & { float:none; width:100% $imp; margin-right:0; }
  } @elseif (length($count) == 1) {
    // Equally devide each element by the "$count" ammount
    & { float:left; margin-right:s($gutter);
      //@if not false($offset) { clear:none; }
      // Generate the CSS for each browser vendor
      $test2: - #{ s( ($offset * ($count - 1) / ($count*2))) };
      $test1: - #{ s( ($gutter * ($count - 1) / ($count))) };
      $formula: 100%/#{$count};
      @for $i from 1 through $count {
        &:nth-of-type(#{$i}n) {
          @if ($i % $count == 0) { margin-right:0; }
          @if ($i % $count == 1) { clear:right; }
          @include calc("width", $formula $test1, imp($important));
        }
      }
    }
  } @else {
    // Perform a more complex calculation to devide the amount of items in the "$count" array into rows. And the values for each item in the row will equate to a percentage.
  }
}

// Break Point for Responsive Designs
@mixin break($width, $condition:max-width) {
  @media (#{$condition}:$width#{px}) {
    @content;
  }
}

// Break Point for Responsive Designs
@mixin break-height($height, $condition:max-height) {
  @media (#{$condition}:$height#{px}) {
    @content;
  }
}

@mixin break-between-height($min, $max) {
  @media only screen and (min-height: $min#{px}) and (max-height: $max#{px}) {
    @content;
  }
}

@mixin break-between($min, $max) {
  @media only screen and (min-width: $min#{px}) and (max-width: $max#{px}) {
    @content;
  }
}

//This will add a lineheight in percentage that's just a little bit greater than the font
@mixin fontsize($size:$text, $lineheight:25%) {
  @if ($lineheight == true) {
    font-size:s($size); line-height:s($size);
  } @elseif (str-index(#{$lineheight}, "%") or $lineheight == 0) {
    $lineheight: strip($lineheight);
    $height: ($size/100*$lineheight)+$size;
    font-size:s($size); line-height:s($height);
  } @else {
    font-size:s($size); line-height:s($lineheight);
  }
}

@mixin responsive-font($standSize:$text, $maxSize:null, $minSize:null, $unit:"vw") {
  // Standard
  @if (length($standSize) == 1) {
    @include fontsize($standSize);
  } @else {
    @include fontsize(first($standSize), last($standSize));
  }

  // Max
  $max-size: nth($maxSize, 1);
  $max-line: null;
  $max-break:$large;
  @if (length($maxSize) == 3 ) { $max-break: nth($maxSize, 3); }
  @if (length($maxSize) >= 2 ) { $max-line: s(nth($maxSize, 2))} @else {  $max-line: #{($max-size/10) + $unit} }

  @include break($max-break) {
    font-size:#{($max-size/10) + $unit};
    line-height:$max-line;
  }

  // Min
  $min-size: nth($minSize, 1);
  $min-line: null;
  $min-break:$medium;
  @if (length($minSize) == 3 ) { $min-break: nth($minSize, 3); }
  @if (length($minSize) >= 2 ) { $min-line: nth($minSize, 2); }

  @include break($min-break) {
    @if ($min-line == null) {
      @include fontsize($min-size);
    } @else {
      @include fontsize($min-size, $min-line);
    }
  }
}

// Insert image into background, and change the size of the element to the image size too.
@mixin image($img, $responsive:false, $property:null){
  @include background-image($img); display:block; 
  @if ($responsive) { 
    @include aspect-ratio($img); 
    @include image-size($img, "max"); 
    background-size:100%;
  } @else { 
    background-size:100% auto;
    @include image-size($img, $property); 
  }
}

@mixin background-image($img, $bg-colour:null, $width:auto, $height:auto, $y:center, $x:center, $repeat:no-repeat ) {
  $y : if(number-check($y), s($y), $y);
  $x : if(number-check($x), s($x), $x);
  $width: if(number-check($width), s($width), $width);
  $height: if(number-check($height), s($height), $height);
  // Now reset the img variable but include the directory path if it exists. If it doesn't use the compass/sass default path. 
  $img: if(not $image-url, image-url($image-url + $img), url($image-url + $img));

  background:$bg-colour $img $x $y #{"/"} $width $height $repeat;
}

// Create a background image using an SVG and an check for fallback image should SVG's not be supported
@mixin background-svg($svg, $fallback:null, $bg-colour:null, $width:100%, $height:100%, $y:center, $x:center, $repeat:no-repeat ) {
  // Aspect Ratio Cacluations
  // Set default aspect ratios
  $aspect-w : 100; 
  $aspect-h : 100;
  $y : if(number-check($y), s($y), $y);
  $x : if(number-check($x), s($x), $x);
  $width: if(number-check($width), s($width), $width);
  $height: if(number-check($height), s($height), $height);
  // The SVG's original dimensions need to be defined no matter what. If there is a backup image, this can be done automatically:
  // First we check that $fallback image file exists (see config.rb), and that it is a string
  @if (type-of($fallback) == string) {
    // Set the width and height of the fallback image from the image supplied;
    $aspect-w : strip(image-width($fallback)); 
    $aspect-h : strip(image-height($fallback));
    // Since there is an image file, add it as a background image should SVG's be unsupported
    &.nosvg { @include background-image($fallback, $bg-colour, 100%, 100%, $y, $x, $repeat); }
    background:$bg-colour $svg $x $y #{"/"} 100% $repeat;
  } @else if(type-of($fallback) == list or type-of($fallback) == number) { 
    // Set the width and heigh by user defined dimensions
    $aspect-w : nth($fallback, 1); 
    // If a second parameter isn't made, use the first one. Essentially making the width and height the same.
    $aspect-h : if(length($fallback) == 1, nth($fallback, 1), nth($fallback, 2)); 
    background:$bg-colour $svg $x $y #{"/"} $width $height $repeat;
  } @else if($fallback == null) { 
    background:$bg-colour $svg $x $y #{"/"} $width $height $repeat;
  } 
 
  @if($fallback != null ) {
    &:before { content:""; display:block; width:100%; padding-top:($aspect-h / $aspect-w) * 100%; }
    max-width: if($width == null, s($aspect-w), $width);
  }
}
@mixin svg($args...) { @include background-svg($args...); }


// Create a background image using an SVG and an check for fallback image should SVG's not be supported
@mixin svg-image($svg, $fallback:100%, $bg-colour:null) {
  $width:100%;
  $height:100%;

  position:relative; display:block;
  // Set the background svg image
  background:$bg-colour $svg center center #{"/"} 100% 100% no-repeat;
  // If there is a fallback image as a string
  @if (type-of($fallback) == string) {
    // Set the width and height of the fallback image from the image supplied;
    $width : imageWidth($fallback, true);
    $height: imageHeight($fallback, true);
    // Since there is an image file to play with, us it as a background image too should SVG's be unsupported on that browser
    &.nosvg { @include background-image($fallback, $bg-colour, 100%, 100%, center, center, no-repeat); }
  } @else if(type-of($fallback) == list or type-of($fallback) == number) {
    // Set the width and heigh by user defined dimensions
    $width : nth($fallback, 1);
    // If a second parameter isn't made, use the first one. Essentially making the width and height the same.
    $height : if(length($fallback) == 1, nth($fallback, 1), nth($fallback, 2));
  }
  // Apply the aspect ratio trick to make it a responsive image
  @include aspect-ratio(($width, $height));
  // Assuming there is some text within a span, hide the text but keep it accessible to bots.
  > span { position:absolute; text-indent:110%; overflow:hidden; white-space:nowrap; @include user-select(none); color:transparent; font-size:0; opacity:0; }
  @if ($width != 100%) { max-width:if(number-check($width), s($width), $width); }
  @if ($height != 100%) { max-height:if(number-check($height), s($height), $height); }
}


// Compasses Calc support isn't very good. Use this until it's fixed.
@function c($formula, $percent:100%, $symbol:"-", $important:null){
  // TODO: Figure a way to remove the quotes around the symbols.
  @return calc(#{$percent $symbol $formula}) imp($important);
}

@mixin calc($property:"width", $expression:100%, $important:false) {
  #{$property}: calc(#{$expression}) imp($important);
}

// ANIMATION
// This allows you to define particular animation transition properties for specific classes without resorting to "All" (which is bad for browser support).
// • Use "@include ani()" to use the default settings, or to have more control do something like "@include ani(color, 1, 0.5, bounce-in)". The paremeters are: [property, duration, ease, delay] ...must be that order!
// • To use multiple transition values within one include do something like this: "@include ani((color, top, resize), 0.6, easein, 1)" or stick with default values "@include ani((color, top, margin));"
// • There is nothing stopping you from using the Ceasers CSS easing animtion tool (http://matthewlein.com/ceaser), includeing the sass version. Example: @include ani((color, top, padding), def, ceaser($easeInSine));
// • Transforms are supported too, so you can animate translate, rotate, scale, or skew (matrix has been excluded for now).
@mixin ani($animation:all, $delay:0, $duration:0.2, $ease:ease-in-out) {
  // A global variable can be used to disabled animations, for dev testing.
  @if ($animations-are-on == true) {

    // You can parse "null" if you want to manually resort to the following pre-defined defaults.
    // Example: @include ani((color, top, padding), null, null, bounce-in)
    @if ($animation == null){ $animation:all;}
    @if ($duration == null) { $duration:0.3;}
    @if ($ease == null)     { $ease:ease-in-out;}
    @if ($delay == null)    { $delay:0;}

    // Checks to make sure if a value is set to "0" that the output doesn't include the "s" at the end.
    @if ($duration == 0) { $duration:0 } @else { $duration:$duration#{s} };
    @if ($delay == 0) { $delay:null } @else { $delay:$delay#{s} };

    // Generate the CSS
    transition: transitions($animation, $duration, $ease, $delay);
  }
}
// Animation Transitions
@function transitions($ani, $duration, $ease, $delay) {
  $css : "";
  $i : 1;
  @each $animation in $ani {
    // Because transforms use different vendor properties within the transition value we have to check and adjust the pre-fix for each animation.
    // Also, wether you use translate, rotate, scale, or skew only the same "transform" value needs to be added.
    @if $animation == "translate" or $animation == "rotate" or $animation == "scale" or $animation == "skew" or $animation == "transform" {
      $animation: #{"transform"};
    }
    @if $i == length($ani) {
      // if there is just one animation or it is the last animation then don't include the comma
      $css:#{$css} #{$animation} #{$duration} #{$ease} #{$delay};
    } @else {
      // if there are multiple animations include a comma
      $css:#{$css} #{$animation} #{$duration} #{$ease} #{$delay}#{","};
    }
    $i: $i + 1;
  }
  @return $css;
}
// ANIMATION END

// Keyframe animation [name, duration, ease, delay, iteration-count, direction, fill]

//@include keyframes(testing) { to { @include rotate(360deg);}}
//@include animate(testing, 1, linear, null, infinite);
@mixin animate($name, $duration:0.2, $ease:ease-in-out, $delay:0, $replay:1, $direction:normal, $fill:none) {

  @if ($duration == null) { $duration:0.3;}
  @if ($ease == null) { $ease:ease-in-out;}
  @if ($delay == null) { $delay:0;}
  @if ($replay == null) { $replay:1;}
  @if ($direction == null) { $direction:normal;}
  @if ($fill == null) { $fill:forwards;}

  $vendors : "-webkit-", "";
  $ani: #{$name} #{$duration+"s"} #{$ease} #{$delay+"s"} #{$replay} #{$direction} #{$fill};
  @each $vendor in $vendors { #{$vendor+"animation"}:$ani; }
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} { @content; }
  @-moz-keyframes #{$animationName} { @content; }
  @-o-keyframes #{$animationName} { @content; }
  @keyframes #{$animationName} { @content; }
}

// Creates rounded corners for all or specific corners dependantly
@mixin corners($radius:5, $corners: (tl, tr, br, bl), $important:false) {
  @each $corner in $corners {
    @if ($corner == tl) { @include border-top-left-radius( s($radius) imp($important)); }
    @if ($corner == tr) { @include border-top-right-radius( s($radius) imp($important)); }
    @if ($corner == br) { @include border-bottom-right-radius( s($radius) imp($important)); }
    @if ($corner == bl) { @include border-bottom-left-radius( s($radius) imp($important)); }
  }
}

// Remove all rounded corners, useful for responsive sites
@mixin remove-corners($important:false) {
  @include border-radius(0 imp($important));
}

// Sets the width and height to the same values
@mixin size($args...) { @include wh($args...); }
@mixin wh($width, $height:null, $important:false) {
  @if ($height == null) { $height:$width; }
  @if (str-index(#{$width}, "%")) {
    width:$width imp($important);
  } @elseif ($width == inherit) {
    width:$width imp($important);
  } @else {
   width:s($width) imp($important);
  }
  @if (str-index(#{$height}, "%")) {
    height:$height imp($important);
  } @elseif ($height == inherit) {
    height:$height imp($important);
  }  @else {
    height:s($height) imp($important);
  }
}

// Quickly position elements
@mixin pos-a($top:0, $left:0, $bottom:auto, $right:auto) {
  @include pos($top, $right, $bottom, $left, anti);
}
@mixin pos($top:0, $right:0, $bottom:auto, $left:auto, $direction:null) {
  top:if(str-index(#{$top}, "%") or $top == auto, $top, s($top)); 
  left:if(str-index(#{$left}, "%") or $left == auto, $left, s($left)); 
  bottom:if(str-index(#{$bottom}, "%") or $bottom == auto, $bottom, s($bottom));  
  right:if(str-index(#{$right}, "%") or $right == auto, $right, s($right)); 
}

@mixin faded-edges($width, $fixed:false, $horizontal:true) {
    // Check if width is an array or single. Also check if units or percent

    // If fixed show the gradient edges even when the container is smaller than the users screen
    // Otherwise add a breakpoint that removes the mask and resets the padding/margins

    // Horizontal or Vertical: left and right, or top and bottom

    // TODO: Check Firefox and IE compatabiltiy

      //ul { overflow:hidden; height:inherit; @include clearfix; @extend %responsive-width; @include calc("max-width",($max"+ 10%")); @include calc("padding-left",($pad"+ 5%"));@include calc("padding-right",($pad"+ 5%")); background-color:$green;
    //@include break($max-width+$padding*2) { max-width:$max; padding-left:$pad; padding-right:$pad;}
    //@include mask("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PHN0b3Agb2Zmc2V0PSI5NSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");

}

// Backface Visibility
@mixin backface-visibility($value:hidden) {
  -webkit-backface-visibility:$value;
  -moz-backface-visibility:$value;
  -ms-backface-visibility:$value;
}

// Border Boxing
@mixin border-box-sizing() {
  box-sizing:border-box; -moz-box-sizing:border-box;
}

// Quick clearfix
@mixin clearfix() {
  &:after { content: ""; display: table; clear: both; }
}

// Set width and height using image dimensions. You can also attribute max or min too.
// Note: Image url's are relative to the image directory set in your config.rb file.
@mixin image-size($img, $property:null) {
  @if $property == null {
    height:imageHeight($img); width:imageWidth($img);
  } @else if $property == half {
    height:imageHeight($img, half); width:imageWidth($img, half);
  } @else if (str-index(#{$property}, "%")) {
    height:imageHeight($img, $property); width:imageWidth($img, $property);
  } @else if $property == maxmin {
    min-height:imageHeight($img); min-width:imageWidth($img); max-height:imageHeight($img); max-width:imageWidth($img);
  } @else {
    #{$property}-height:imageHeight($img); #{$property}-width:imageWidth($img);
  }
}

// Create Arrows/Triangles in any direction.
@mixin arrow($width:20, $height:20, $colour:$red, $direction:right, $sudo:before) {

  $colour: if($colour == null, rc(1), $colour);
  $opposite:opposite-position($direction);

  &:#{$sudo} { content:""; height:0; width:0; position:absolute; pointer-events:none; border-style:solid; border-color:transparent; border-width:0;
    // Directions
    @if ($direction == "left")         {left:s(-$width);   border-width:s($height/2) s($width) s($height/2) 0; border-right-color:$colour;  top:50%; margin-top:s(-$height/2);  }
    @if ($direction == "right")        {right:s(-$width);  border-width:s($height/2) 0 s($height/2) s($width); border-left-color:$colour;   top:50%; margin-top:s(-$height/2);  }
    @if ($direction == "top")          {top:s(-$height);   border-width:0 s($width/2) s($height) s($width/2);  border-bottom-color:$colour; left:50%; margin-left:s(-$width/2); }
    @if ($direction == "bottom")       {bottom:s(-$height);border-width:s($height) s($width/2) 0 s($width/2);  border-top-color:$colour;    left:50%; margin-left:s(-$width/2); }
    @if ($opposite  == "top left")     {top:0; left:0;     border-width:s($height) s($width) 0 0;              border-top-color:$colour;    }
    @if ($opposite  == "top right")    {top:0; right:0;    border-width:0 s($width) s($height) 0;              border-right-color:$colour;  }
    @if ($opposite  == "bottom left")  {bottom:0; left:0;  border-width:s($height) 0 0 s($width);              border-left-color:$colour;   }
    @if ($opposite  == "bottom right") {bottom:0; right:0; border-width:0 0 s($height) s($width);              border-bottom-color:$colour; }
    // Center
    @if(str-index($direction, "center")) { top:50%; left:50%; margin-left:s(-$width/2); margin-top:s(-$height/2); }
    @if ($direction == "center")       {border-width:s($height/2) 0 s($height/2) s($width); border-left-color:$colour; }
    @if ($direction == "center right") {border-width:s($height/2) 0 s($height/2) s($width); border-left-color:$colour; }
    @if ($direction == "center bottom"){border-width:s($height) s($width/2) 0 s($width/2); border-top-color:$colour; }
    @if ($direction == "center left")  {border-width:s($height/2) s($width) s($height/2) 0; border-right-color:$colour; }
    @if ($direction == "center top")   {border-width:0 s($width/2) s($height) s($width/2); border-bottom-color:$colour; }
    @content;
  }
}

// Mobile only (sort of)
@mixin mobile() {
  @media only screen and (max-device-width: 480px) { @content }
}

// Desktop only (sort of)
@mixin desktop() {
  @media screen and (min-width: 800px) { @content }
}

@mixin placeholder($colour:initial) {
  &:focus.placeholder { color:transparent; }
  &:focus:-moz-placeholder { color:transparent; }
  &:focus::-moz-placeholder { color:transparent; }
  &:focus::-webkit-input-placeholder { color:transparent; }
  &.placeholder { color:$colour; @content; @include ani(color);}
  &:-moz-placeholder { color:$colour; @content; @include ani(color);}
  &::-moz-placeholder { color:$colour; @content; @include ani(color);}
  &::-webkit-input-placeholder { color:$colour; @content; @include ani(color);}
}

// Children
@mixin last() { &:last-of-type, &.last { @content } }
@mixin first() { &:first-of-type, &.first { @content } }
@mixin nth($nth:1, $repeat:null) {
  // TODO: Make is so you can add an array of nth numbers so you can target specific items by number, e.g. @include nth((1,2,5,6,8)) { ... }
  @if ($repeat == true) {
    // Repeat this for every instance. So if repeat is trye, and nth is 3, the @content will be assigned to every third element.
    &:nth-of-type(#{$nth + n + "+" + $nth}) { @content }
  } @else {
    // Only apply the @content to one specific element.
    &:nth-of-type(#{$nth}) { @content }
  }
}

@mixin nth-last($nth:1, $repeat:null) {
  @if ($repeat == true) {
    &:nth-last-of-type(#{$nth + n + "+" + $nth}) { @content }
  } @else {
    &:nth-last-of-type(#{$nth}) { @content }
  }
}

// Center vertically and horizontally
@mixin vhCenter($width, $height:false) {
  @if ($height == false) { $height : $width; }
  position:absolute; top:50%; left:50%; height:s($height); width:s($width); margin-left:s(- $width/2); margin-top:s(- $height/2);
}

// Testing
@mixin vAlign($element:":first-child") {
  display:table;
  #{$element} { display: table-cell; vertical-align: middle; }
}

// Center vertically
@mixin vCenter($height, $property:height) {
  position:absolute; top:50%; #{$property}:s($height); margin-top:s(- $height/2);
}

// Center horizontally
@mixin hCenter($width, $property:width) {
  position:absolute; left:50%; #{$property}:s($width);  margin-left:s(- $width/2);
}

// Retain an images aspect ratio
@mixin aspect-ratio($dimensions) {
  // Set default aspect ratios
  $aspect-w : 1; 
  $aspect-h : 1;
  // Image
  @if (type-of($dimensions) == string) {
    // Set the width and height of the image from the image supplied;
    @if ($dimensions == "video") {
      $aspect-w : 16;
      $aspect-h : 9;
    } @else {
      $aspect-w : strip(image-width($dimensions));
      $aspect-h : strip(image-height($dimensions));
    }
  // Defined dimensions
  } @else if(type-of($dimensions) == list or type-of($dimensions) == number) { 
    // Set the width and heigh by user defined dimensions
    $aspect-w : nth($dimensions, 1);
    // If a second parameter isn't made, use the first one. Essentially making the width and height the same.
    $aspect-h : if(length($dimensions) == 1, nth($dimensions, 1), nth($dimensions, 2)); 
  }
  // The magic that retains the apect ratio
  &:before { content:""; display:block; width:100%; padding-top:($aspect-h / $aspect-w) * 100%; }
}

// Retain an elements aspect ratio for typical video dimensions
@mixin video-aspect-ratio($ratio:$aspect-ratio-16-9, $element:iframe) {
  position:relative; width:100%; display:block; max-height:100vh;
  &:before { content:""; display:block; padding-top:$ratio; }
  > #{$element} { position:absolute; top:0; left:0; bottom:0; right:0; @include wh(100%); }
}

// Tidy alternative to underlining elements or text on hover. This animates nicely
@mixin underline ($color:black, $thickness:1, $offset:-1, $sudo:before ) {
  position:relative; @include ani(color);
  &:#{$sudo} { content:""; position:absolute; bottom:s($offset); left:0; width:0; opacity:0; border-bottom:s($thickness) solid transparent; @include ani((border-bottom-color, width, opacity)); }
  &:hover:#{$sudo} { border-bottom-color:$color; left:0; width:100%; opacity:1; }
}

// Dropshadow
@mixin shadow($height:5, $width:100%, $strength:0.2, $gap:0, $sudo:before) {
  &:#{$sudo} { content:""; position:absolute; top:100%; left:0; margin-top:s($gap); width:$width; height:s($height); opacity:$strength; 
    background: $svg-gradient-shadow no-repeat top left / 100% 100%;
    @content;
  }
}

@mixin cols($target:null, $count:2, $spacing:$pad, $width:20em) {
  @include column-count($count); 
  @if $width != null { @include column-width($width); }
  @if $spacing != null { @include column-gap($spacing); }
  @if $target == null { 
    -webkit-column-break-inside:avoid; page-break-inside:avoid; break-inside:avoid; 
  } @else {
    #{$target} { -webkit-column-break-inside:avoid; page-break-inside:avoid; break-inside:avoid; 
      @if $spacing != null { margin-bottom:$spacing; }
    }
  }
}

// Set the notice bar colours, based on its "data-cookie" attribute;
@mixin noticebar-colours($name:null, $colour:$orange, $text:white, $lighten:35) {
  #noticebars {
    // If "name" is null, then default to generically styling all ".noticebar";
    $target: if($name != null, #{"[data-cookie*='" + $name + "']"}, #{".noticebar"});
    #{$target} { background:$colour $imp; color:$text $imp;
      .noticebar-message {
        h6 { color:white $imp; }
        p { color:lighten($colour, $lighten) $imp; }
        a { color:$text $imp;
          &:hover {color:lighten($colour, $lighten) $imp;}
        }
      }
    }
  }
}

@mixin dropdown($height:40, $bg:$grey, $select:null, $txt:null, $corners:null, $arrow:null, $target:".dropdown") {
  $select:if($select == null, darken($bg, 10), $select);
  $txt:if($txt == null, light-or-dark($bg, $white, $text), $txt);
  $arrow:if($arrow == null, 10, $arrow);
  #{$target} { position:relative; width:100%; height:s($height);  color:$txt; font-size:s(13); @extend %font1;  @if($corners != null) { background-color:transparent; @include ani(background-color); @include corners($corners, (tl, tr)) }
    select { padding:$pad s(20); color:$txt; @if($corners != null) { @include corners($corners) } background-color:$bg; width:100%; height:s($height); border:none; font-size:inherit; @include appearance(none);  }
    div[role="label"] { @include vAlign("span"); padding:0 $pad; @include ani(background-color); @extend %unselectable, %pointer, %no-wrap; overflow:hidden; background-color:$bg; text-transform: capitalize; position:absolute; top:0; left:0; z-index:1; top:0; left:0; width:100%; height:s($height); @if($corners != null) { @include corners($corners) }; display:flex; align-items: center; justify-content: left;
      &:after { content:""; border-top:solid s(3) light-or-dark($bg, lighten($bg,40), darken($bg,30)); border-right:solid s(3) light-or-dark($bg, lighten($bg,40), darken($bg,30)); position:absolute; top:50%; margin-top:s(-$arrow/2); right:s($padding*2 - $arrow/2); @include rotate(45deg); @include size($arrow); @include ani((rotate, border-color, margin-top))}
      &:before { content:""; background-color:$bg; @include ani(background-color); position:absolute; top:0; right:0; width:s($height); height:s($height); }
    }
    ul { height:0; width:100%;overflow: auto; overflow-x:hidden; position:relative; top:s($height); @include ani(height); @if($corners != null) { @include corners($corners (bl, br)) }
      &::-webkit-scrollbar { width:s(5); height:50%; display:none; z-index:2; }
      &::-webkit-scrollbar-track { background-color:$bg; }
      &::-webkit-scrollbar-thumb { background-color:darken($bg,30); }
      &.clicked { @include ani(height); }
      li { @include vAlign("span"); width:100%; min-height:s($height); padding:0 $pad2; background-color:$bg; border-bottom:s(1) solid $select; text-transform: capitalize; @include ani(background-color); @extend %unselectable, %pointer; display:flex; align-items: center; justify-content: left;
        &:hover { background-color:$select; }
        &.selected { background-color:$select; @extend %unselectable, %pointerevents, %cursor; }
        &.disabled { background-color:lighten($bg,4); color:col($txt, 0.5); @extend %unselectable, %pointerevents, %cursor;}
      }
    }
    // Hover
    &.hover { z-index:999; @if($corners != null) { background-color:$select; }
      div[role="label"] { background-color:$select; 
        &:after { @include rotate(135deg); margin-top:s(-$arrow/2); border-top-color:white; border-right-color:white; }
        &:before { background-color:$select; }
      }
      ul { height:50vh;
        &::-webkit-scrollbar { display:block; }                
      }
    }
    @content;
  }
}
