// Booleans
$animations-are-on:     true !default;  // true = Animations are on | false = Animations are off
$sizes-are-rem:         false !default; // true = rem | false = px
$reset:                 true !default;  // Include the Compass reset, to normalise the page. Set "false" for Craft CMS and Collins Pages

// Sections
$notice-bars:           false !default;

// Units
$max-width:             970 !default; // Maximum width
$min-width:             320 !default; // Minimum width
$padding:               16.18 !default;  // Generic Padding (Golden Ratio)
$font-size:             16 !default;  // Generic Font size
$opacity:               0.9 !default; // Generic Opacity

$max:                   s($max-width) !default;
$min:                   s($min-width) !default;
$pad:                   pad() !default;
$pad0:                  pad(0) !default;
$pad1:                  pad(1) !default;
$pad2:                  pad(2) !default;
$pad3:                  pad(3) !default;
$pad4:                  pad(4) !default;
$pad5:                  pad(5) !default;
$size:                  s($font-size) !default;
$fs:                    $size !default;

// Directories
$image-url:             "assets/images/" !default;
$font-url:              "assets/fonts/" !default;

// Breakpoins
$small:                 520 !default;
$large:                 970 !default;
$medium:                (($large - $small) / 2) + $small !default;
$med:                   $medium !default;
// Aspect Ratios
$aspect-ratio-4-3:      75% !default;
$aspect-ratio-16-9:     56.25% !default;

// Colours - Basics
$red:                   #97080E !default;
$orange:                #DA4B0F !default;
$yellow:                #E9B104 !default;
$green:                 #488C13 !default;
$blue:                  #1B55C0 !default;
$pink:                  #E05D6B !default;
$purple:                #613D5A !default;
$grey:                  #787878 !default;
$brown:                 #774F38 !default;
$white:                 #ffffff !default;
$black:                 #000000 !default;

// Colours - Social Networks
$facebook:              #3b5998 !default;
$twitter:               #00aced !default;
$google:                #dd4b39 !default;
$youtube:               #bb0000 !default;
$linkedin:              #007bb6 !default;
$instagram:             #517fa4 !default;
$pinterest:             #cb2027 !default;
$vine:                  #00bf8f !default;
$snapchat:              #fffc00 !default;
$flickr:                #ff0084 !default;
$vimeo:                 #aad450 !default;

// Colours - Specials
$yello:                 #FFCB08 !default;
$selection:             #B2D3FA !default;
$text:                  $black !default;