@charset "UTF-8";

@if $reset {
  *, *:after, *:before { &:focus { outline:0; } @include border-box-sizing; @include selection($selection, white);}
  a { text-decoration:none; color:$text; }
  hr { border:none; height:s(1); background-color:$text; margin:$pad 0; }
  strong { font-weight:bold; }
  em { font-style:italic; }
  textarea { resize:none; }
  button, input[type="button"], input[type="submit"] { @extend %clearbtn; }
  input, textarea, select { -webkit-appearance:none; -webkit-border-radius:0; border-radius:0; border:0; } // iOS Button Fix
  html, body { min-width:#{$min-width + "px"}; min-height:100%; }
  html { font-size:62.5% $imp; }
  body { font-size:s(10); color:$text; @extend %font-default; }
}

#wrapper { position:relative; @include fontsize($font-size); @extend .font1 !optional; @include size(100%); color:$text;
  .content { @extend %responsive-width; margin-top:0; margin-bottom:0; padding:0 $pad2;
    @include break(500) { padding-left:$pad; padding-right:$pad; }
  }
}

.yello { color:$yello; @include desktop { @include underline($yello);} }

#noticebars { position:relative; top:0; left:0; width:100%; z-index:9999;
  .noticebar { position:relative; background:$orange; z-index:999; color:white; min-width:$min; margin:0; width:100%; left:0; top:0; text-align:center; font-size:s(12); line-height:s(16); font-weight:bold; //@extend %font-default;
    .noticebar-message { position:relative; width:100%; max-width:$max; min-width:$min; display:block; margin:0 auto; padding:s(10);
      h6 { font-size:s(14); color:white $imp; }
      p { color:lighten($orange,35); }
      a { color:white; text-decoration:underline; @include ani(color);
        span { position:absolute; top:s(-5); right:0; padding:s(10); font-family:arial black;}
        &:hover {color:lighten($orange,35);}
      }
    }
    &.noticebar-warning { background:$red;
      .noticebar-message {
        p { color:lighten($red, 50); }
        a:hover {color:lighten($red, 35);}
      }
    }
    $notice-classes: "red" "orange" "yellow" "green" "blue" "pink" "purple" "grey" "brown" "white" "black";
    $notice-colours: $red $orange $yellow $green $blue $pink $purple $grey $brown $white $black;
    @each $class in $notice-classes {
      $colour:nth($notice-colours, index($notice-classes, $class));
      &.#{$class} { background-color:$colour;
        .noticebar-message {
          p { color:lighten($colour, 50); }
          a:hover {color:lighten($colour, 35);}
        }
      }
    }
  }
}