/* Legacy mixings and Testing grounds */

@mixin dropshadow-old($strength:0.5, $gap:null, $colour:$background) {
  @if ( $gap ) { &:after { content:""; position:absolute; bottom:s(-$gap); background-color:$background; height:s($gap); width:100%; }}
  &:before {content:""; position:absolute; z-index:-1; top:50%; bottom:0; left:s(10); right:s(10); -moz-border-radius:200px/10px; border-radius:200px/10px; @include box-shadow(col(black,$strength) 0 0 s(20));}
}
