// Reset
@if $reset { @include reset(); }

// Fonts
.font1                  { @extend %font1 !optional; }
%font-default           { font-family: Helvetica, Arial, sans-serif; @extend %font-smooth;}
%font-smooth            { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

// Icons
@if $reset { .icon:before, [class^="icon-"]:before, [class*=" icon-"]:before { font-family:"icons"; speak:none; font-style:normal; font-weight:normal; font-variant:normal; text-transform:none; line-height:1; @extend %font-smooth; }}

// Classes
%lowercase              { text-transform:lowercase; }
%uppercase              { text-transform:uppercase; }
%capitalize             { text-transform:capitalize; }
%circular               { @include border-radius(50%); }
%clearbtn               { background:none; border:none; padding:0; margin:0; cursor:pointer; }
%clear-shadow           { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
%clear-text-shadow      { @include single-text-shadow(none); }
%clear-flex             { flex:initial; display:initial; flex-direction:initial; justify-content:initial; }
%no-wrap                { white-space:nowrap }
%hide-text              { text-indent:110%; overflow:hidden; white-space:nowrap; @include user-select(none);}
%show-text              { text-indent:0; overflow:visible; white-space:normal; @include user-select(all); }
%nopointerevent         { pointer-events:none; }
%pointerevents          { pointer-events:auto; }
%pointer                { cursor:pointer; }
%cursor                 { cursor:auto; }
%sudo                   { content:""; position:absolute; top:0; left:0; @include wh(100%); }
%selectable             { @include user-select(all); }
%unselectable           { @include user-select(none); }
%untouchable            { visibility:hidden; @extend %nopointerevent; }
%touchable              { visibility:visible; @extend %pointerevents; }
%responsive-width       { position:relative; width:100%; max-width:$max; min-width:$min; padding-left:$pad; padding-right:$pad; margin-left:auto; margin-right:auto; }
%clearfix               { &:after { content: ""; display: table; clear: both; } }
%vertical-align         { position:relative; top:50%; @include translateY(-50%); @extend %preserve-3d;}
%preserve-3d            { @include transform-style(preserve-3d); }

%render-auto 			      { image-rendering: -moz-auto; image-rendering:-o-auto; image-rendering: -webkit-optimize-contrast; image-rendering: auto;  }
%render-crisp 			    { image-rendering: -moz-crisp-edges; image-rendering:-o-crisp-edges; image-rendering: -webkit-optimize-contrast; image-rendering: crisp-edges; -ms-interpolation-mode: nearest-neighbor; }
%render-pixelated 	    { image-rendering: -moz-pixelated; image-rendering:-o-pixelated; image-rendering: -webkit-optimize-contrast; image-rendering: pixelated; }